<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longsemi.oa.manager.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.longsemi.oa.manager.bean.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="app1" jdbcType="VARCHAR" property="app1" />
    <result column="app2" jdbcType="VARCHAR" property="app2" />
    <result column="app3" jdbcType="VARCHAR" property="app3" />
    <result column="app4" jdbcType="VARCHAR" property="app4" />
    <result column="app5" jdbcType="VARCHAR" property="app5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, pid, icon, url, app, app1, app2, app3, app4, app5
  </sql>
  <select id="selectByExample" parameterType="com.longsemi.oa.manager.bean.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.longsemi.oa.manager.bean.MenuExample">
    delete from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.longsemi.oa.manager.bean.Menu">
    insert into menu (id, name, pid, 
      icon, url, app, app1, 
      app2, app3, app4, app5
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{app,jdbcType=VARCHAR}, #{app1,jdbcType=VARCHAR}, 
      #{app2,jdbcType=VARCHAR}, #{app3,jdbcType=VARCHAR}, #{app4,jdbcType=VARCHAR}, #{app5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longsemi.oa.manager.bean.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="app != null">
        app,
      </if>
      <if test="app1 != null">
        app1,
      </if>
      <if test="app2 != null">
        app2,
      </if>
      <if test="app3 != null">
        app3,
      </if>
      <if test="app4 != null">
        app4,
      </if>
      <if test="app5 != null">
        app5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="app1 != null">
        #{app1,jdbcType=VARCHAR},
      </if>
      <if test="app2 != null">
        #{app2,jdbcType=VARCHAR},
      </if>
      <if test="app3 != null">
        #{app3,jdbcType=VARCHAR},
      </if>
      <if test="app4 != null">
        #{app4,jdbcType=VARCHAR},
      </if>
      <if test="app5 != null">
        #{app5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.longsemi.oa.manager.bean.MenuExample" resultType="java.lang.Long">
    select count(*) from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.app != null">
        app = #{record.app,jdbcType=VARCHAR},
      </if>
      <if test="record.app1 != null">
        app1 = #{record.app1,jdbcType=VARCHAR},
      </if>
      <if test="record.app2 != null">
        app2 = #{record.app2,jdbcType=VARCHAR},
      </if>
      <if test="record.app3 != null">
        app3 = #{record.app3,jdbcType=VARCHAR},
      </if>
      <if test="record.app4 != null">
        app4 = #{record.app4,jdbcType=VARCHAR},
      </if>
      <if test="record.app5 != null">
        app5 = #{record.app5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update menu
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      app = #{record.app,jdbcType=VARCHAR},
      app1 = #{record.app1,jdbcType=VARCHAR},
      app2 = #{record.app2,jdbcType=VARCHAR},
      app3 = #{record.app3,jdbcType=VARCHAR},
      app4 = #{record.app4,jdbcType=VARCHAR},
      app5 = #{record.app5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.longsemi.oa.manager.bean.Menu">
    update menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        app = #{app,jdbcType=VARCHAR},
      </if>
      <if test="app1 != null">
        app1 = #{app1,jdbcType=VARCHAR},
      </if>
      <if test="app2 != null">
        app2 = #{app2,jdbcType=VARCHAR},
      </if>
      <if test="app3 != null">
        app3 = #{app3,jdbcType=VARCHAR},
      </if>
      <if test="app4 != null">
        app4 = #{app4,jdbcType=VARCHAR},
      </if>
      <if test="app5 != null">
        app5 = #{app5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longsemi.oa.manager.bean.Menu">
    update menu
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      app = #{app,jdbcType=VARCHAR},
      app1 = #{app1,jdbcType=VARCHAR},
      app2 = #{app2,jdbcType=VARCHAR},
      app3 = #{app3,jdbcType=VARCHAR},
      app4 = #{app4,jdbcType=VARCHAR},
      app5 = #{app5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>